<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.shirtsalesapp">
    <!-- Permissions -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ShirtSalesApp"
        tools:targetApi="31">
        <activity
            android:name=".activity.manager.MenuManageActivity"
            android:exported="false" />
        <activity
            android:name=".activity.manager.account.AccountActivity"
            android:exported="false"/>
        <activity
            android:name=".activity.manager.ManagePaymentActivity"
            android:exported="false" />
        <activity
            android:name=".activity.manager.ManageAccountActivity"
            android:exported="false">
        </activity>
        <activity
            android:name=".activity.auth.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".activity.manager.ManageProductActivity"
            android:exported="false" >

        </activity>
        <activity
            android:name=".activity.auth.RegisterActivity"
            android:exported="true" />
        <activity
            android:name=".activity.product.ProductListActivity"
            android:exported="true" />
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
        <activity
            android:name=".ZaloPayMethodActivity"
            android:exported="false"
            android:label="Merchant Demo"
            android:launchMode="singleTask">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.VIEW" /> -->


            <!-- <category android:name="android.intent.category.DEFAULT" /> -->
            <!-- <category android:name="android.intent.category.BROWSABLE" /> -->


            <!-- <data -->
            <!-- android:host="app" -->
            <!-- android:scheme="demozpdk" /> -->
            <!-- </intent-filter> -->
        </activity>
    </application>

</manifest>